<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ChatClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <ChatClient.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.1.105</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1025</value>
            </setting>
            <setting name="Fingerprint" serializeAs="String">
                <value>7585E199299FEF62D88A238D81F41BBCEDB13E0D</value>
            </setting>
        </ChatClient.Properties.Settings>
    </userSettings>
</configuration>
